<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>
		<meta name="keywords" content=" "></meta>
		<title>ERROR</title>
		<link rel="stylesheet" href="/static/css/error.css" type="text/css" media="screen"/>
		<link rel="shortcut icon" type="image/x-icon" href="/static/icons/logo.ico">
	</head>
  	<body>
		<div id="wrapper">
			<div id="top_cap"></div>
			<div id="container">
				<div id="notfound"></div>
				<p class="notfound_desc">{{message}}</p>
				<div id="content">
					</div>
					<div class="clearfix">
				</div>
			</div>
			<div id="bottom_cap"></div>
		</div>
	</body>
</html>
